#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
}

.App {
  height: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}
